html,
body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: #543d5e;
	color: rgba(84, 61, 94, 0.75);
	background-color: #fff1eb;
}
#title {
	color: #543d5e;
	font-size: 2.5em;
	color: rgba(84, 61, 94, 0.9);
	font-family: "Roboto Slab", "Times New Roman", Times, serif;
	margin: 0;
	padding: 0;
}
a {
	color: rgba(84, 61, 94, 0.9);
	text-decoration: none;
	border-bottom: 1px dotted #543d5e;
}
#text {
	position: absolute;
	max-width: 300px;
	top: 16px;
	left: 16px;
	background-color: rgba(255, 241, 235, 0.55);
	box-shadow: 0 0 15px 5px rgba(255, 241, 235, 0.55);
}
.source {
	margin-bottom: 0.5em;
	font-size: 14px;
}
canvas {
	background: #000;
}
